/* START OF Change the Navbar Colors/Font/Size */
/* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */
#menu a {
  font-size: 0.8rem;
}

nav ul a {
  padding-left: 5px;
}

/*nav {
  height: 2.4em;
  line-height: 2.4em;
}*/
