<div id="union" class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="assets/images/8.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2>Ένωση</h2>

    <h4>
      <blockquote>Ιστορία</blockquote>
    </h4>
    <p class="flow-text">
      H Ένωση Οινοποιητικών Συνεταιρισμών Σάμου (ΕΟΣΣ) ιδρύθηκε το 1934, με τη συμμετοχή 25 τοπικών συνεταιρισμών,
      που
      αντιπροσωπεύουν όλους τους καλλιεργητές αμπέλου του νησιού.<br>
      <br>
      Με χαρακτήρα συνδικαλιστικής οργάνωσης, στάθηκε από την αρχή ουσιαστικός αρωγός προς τους αγρότες, για την
      προστασία
      των δικαιωμάτων τους απέναντι στους εμπόρους.<br>
      <br>
      Από την ίδρυσή της, έως και σήμερα, η ΕΟΣΣ συλλέγει το σταφύλι και παράγει το κρασί, στα δύο οινοποιεία της
      στο
      Μαλαγάρι και στο Καρλόβασι. Στη συνέχεια το διαθέτει, χύμα ή εμφιαλωμένο, στην Ελλάδα και στον υπόλοιπο
      κόσμο.<br>
      <br>
      Οι εξαγωγές είναι πολύ σημαντικές και καλύπτουν το 80% της ετήσιας παραγωγής, που είναι περίπου 7.000 τόνοι
      κρασί. H
      Γαλλία από μόνη της εισάγει το 60% της παραγωγής του νησιού, ενώ άλλες χώρες που εισάγουν σημαντικές ποσότητες
      σαμιακών οίνων είναι η Αγγλία, η Αυστραλία ,η Αυστρία, το Βέλγιο, η Γαλλία, η Γερμανία, η Δανία, η Ελβετία, οι
      ΗΠΑ,
      η Ιταλία, ο Καναδάς, η Ολλανδία, η Σιγκαπούρη, η Σουηδία, η Φινλανδία, οι Σκανδιναβικές χώρες και, προσφάτως,
      χώρες
      της Άπω Aνατολής.
    </p>
    <h4>
      <blockquote>Φιλοσοφία</blockquote>
    </h4>
    <p class="flow-text">
      Με μοναδικό, για την Ελλάδα, τρόπο, η Ένωση Ονοποιητικών Συνεταιρισμών Σάμου υποστηρίζει το εισόδημα των
      αμπελοκαλλιεργητών και προβάλει, μέσω του κρασιού, τη Σάμο σε όλη την υφήλιο. Όλες οι προσπάθειές της ξεκινούν
      από
      το σταφύλι των αμπελοκαλλιεργητών της και καταλήγουν πάλι σε αυτούς.<br>
      <br>
      Στόχος της ΕΟΣΣ είναι η ταύτιση του ονόματός της με προϊόντα και υπηρεσίες υψηλής και σταθερής ποιότητας.
      Βασική
      της
      επιδίωξη είναι η ισχυροποίηση της θέσης της, μέσω της αναγνωρισιμότητας των προϊόντων της, της αύξησης του
      μεριδίου
      της στην παγκόσμια αγορά οίνου και της συνεχούς επέκτασης σε περισσότερες αγορές. Έτσι, θα επιτευχθεί η
      συνέχιση
      της
      ανοδικής πορείας και η αύξηση των πωλήσεων, με απώτερο σκοπό την επίτευξη καλύτερης και συνεχώς αυξανόμενης
      τιμής
      για το σταφύλι των αμπελοκαλλιεργητών-μελών της.
    </p>
    <h4>
      <blockquote>Μέλη και Δ.Σ.</blockquote>
    </h4>
    <p class="flow-text">
      Μέλη της Ένωσης Ονοποιητικών Συνεταιρισμών Σάμου είναι, υποχρεωτικά, όλοι οι υφιστάμενοι Οινοποιητικοί
      Συνεταιρισμοί
      του νομού Σάμου, που ιδρύθηκαν ή θα ιδρυθούν, βάσει του Α.Ν. 6085/1934. Οι παραγωγοί που ανήκουν στους
      Οινοποιητικούς Συνεταιρισμούς είναι στο σύνολό τους 2.847, εκ των οποίων οι 40 ασχολούνται με τη βιολογική
      καλλιέργεια.<br>
      <br>
      Κάθε Οινοποιητικός Συνεταιρισμός αντιπροσωπεύεται στην Ένωση με ένα έως πέντε μέλη εκλεγμένων αντιπροσώπων. Ο
      αριθμός τους καθορίζεται ανάλογα με την παραγωγή σταφυλών που παραδίδουν τα φυσικά μέλη του Οινοποιητικού
      Συνεταιρισμού στην Ένωση κατά την τελευταία τριετία. Παραγωγή μέχρι 100.000 κιλά αντιστοιχεί σε έναν
      αντιπρόσωπο,
      παραγωγή από 100.001 μέχρι 200.000 κιλά σε δύο αντιπροσώπους κ.ο.κ. και μέχρι πέντε αντιπροσώπους.<br>
      <br>
      Οι αντιπρόσωποι εκπροσωπούν τον Συνεταιρισμό σε όλες τις σχέσεις του με την Ένωση, μέσα στο πλαίσιο των
      αποφάσεων
      της Γενικής Συνέλευσης και του Διοικητικού Συμβουλίου του εκπροσωπούμενου Συνεταιρισμού. Στη Γενική Συνέλευση,
      έτσι,
      μετέχουν δια των αντιπροσώπων τους όλα τα μέλη της Ένωσης. Με τη συμμετοχή των αντιπροσώπων στη γενική
      συνέλευση
      εκλέγονται οι διοικητικοί σύμβουλοι (Δ.Σ.), που με τη σειρά τους εκλέγουν τον πρόεδρο της ΕΟΣΣ Οι διοικητικοί
      σύμβουλοι αναφέρονται, μία ή δύο φορές το χρόνο, στη γενική συνέλευση, που είναι το ανώτατο Όργανο της
      Ένωσης.<br>
      <br>
      Πρόεδρος: Ιωάννης Σκούτας<br>
      Γενικός Διευθυντής: Ηλίας Καριώτογλου<br>
      <br>
      Η ΕΟΣΣ απασχολεί 80 άτομα.
    </p>
  </div>
</div>
<div id="vineyards" class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="assets/images/7.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2>Αμπελώνες</h2>

    <p class=" flow-text">Oι αμπελώνες της Σάμου είναι μοναδικοί στον κόσμο: 16.000 στρέμματα, σχεδόν όλα
      διαμορφωμένα
      σε
      πεζούλες, σε συνδυασμό με την πυκνή βλάστηση του νησιού, δημιουργούν ένα αξέχαστο σκηνικό που εξασφαλίζει την
      ιδιαιτερότητα των κρασιών μας.<br><br>

      Oκτακόσια μέτρα πάνω από το Aιγαίο, οι πλαγιές του όρους Άμπελος σχηματίζουν ένα τεράστιο αμφιθέατρο με τις
      κερκίδες ξέχειλες από αμπέλια. H σιγή είναι απόλυτη, το φως εκτυφλωτικό, μετά βίας διακρίνονται στο βάθος
      μερικοί
      χωρικοί που πάνε στις δουλειές τους: να τα «grand crus», τα επιλεγμένα αμπελοτόπια και, κατ’ επέκταση, κρασιά
      που
      παράγει η Σάμος.<br><br>

      Aπό τα 25 αμπελοχώρια της Σάμου τα περισσότερα βρίσκονται στο βόρειο και λιγότερο τουριστικό τμήμα του νησιού.
      Oι
      περισσότεροι αμπελώνες είναι ορεινοί και ημιορεινοί εξασφαλίζοντας στα σταφύλια αργή και σταθερή ωρίμαση,
      μέχρι
      να
      αγγίξουν εντυπωσιακά υψηλούς βαθμούς, απαραίτητοι για τη δημιουργία των θεϊκών γλυκών μοσχάτων.<br><br>

      Tα εδάφη είναι βαθιά και με τέλεια αποστράγγιση, αναγκάζοντας τις ρίζες να πάνε βαθιά μέσα στη γη για
      αναζήτηση
      τροφής. Tα σταφύλια ωριμάζουν τέλεια και είναι πλούσια σε ουσίες.
    </p>
  </div>
</div>
<div id="variaty" class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="assets/images/6.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2>Ποικιλία</h2>

    <p class=" flow-text">H ποικιλία-βασιλιάς της Σάμου είναι το μοσχάτο λευκό (muscat blanc à petits
      grains) ή μοσχούδι ή Muscat de Frontignan. Πρόκειται για μια ευγενή ποικιλία αμπέλου, αρκετά διαδεδομένη σε
      ολόκληρη τη Mεσόγειο.<br><br>

      Aν και απαντάται και σε άλλα μέρη της Eλλάδος, όπου επίσης παράγει γλυκούς οίνους, μόνο στη Σάμο δίνει το
      συγκεκριμένο κρασί που όλοι γνωρίζουμε.<br><br>

      Tο μοσχάτο καλύπτει το 97% του αμπελώνα της Σάμου, το υπόλοιπο 3% μοιράζονται μερικές επιτραπέζιες ποικιλίες
      (μεταξύ των οποίων το εκπληκτικό κολοκυθάτο) και δύο ερυθρές, το ρητινό και το φωκιανό, που χρησιμοποιούνται
      για
      την παραγωγή των ερυθρωπών οίνων της Ένωσης.<br><br>
    </p>
  </div>
</div>
<div id="winery" class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="assets/images/3.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2>Οινοποιείο</h2>
    <p class="flow-text">
      H Ένωση διαθέτει δύο σημαντικές οινοποιητικές εγκαταστάσεις, η κάθε μια με τη δική της ιστορία.
      <br><br>
      Tο οινοποιείο στο Kαρλόβασι εξυπηρετεί τα αμπελοχώρια που βρίσκονται στο βόρειο τμήμα του νησιού, ενώ εκείνο
      στη
      θέση Mαλαγάρι, λίγο έξω από το Bαθύ, εξυπηρετεί το υπόλοιπο νησί, ενώ φιλοξενεί και τα κεντρικά γραφεία της
      Ένωσης.
      <br><br>
      Στο Mαλαγάρι θα βρείτε και το Mουσείο Σαμιακού Oίνου που εγκαινιάστηκε το 2005 και φιλοξενεί σπουδαία εκθέματα
      για την οινική ιστορία του νησιού. Kαι τα δύο οινοποιεία της EOΣΣ δέχονται επισκέπτες, τις εργάσιμες ημέρες
      και
      ώρες.
    </p>
  </div>
</div>
<div id="museum" class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="assets/images/2.jpg"></div>
</div>
<div class="section white">
  <div class="section white">
    <div class="row container">
      <h2 class="header">Μουσείο</h2>
      <p class="grey-text text-darken-3 lighten-3 flow-text">
        Δεν πρόκειται για ένα «νεκρό», κουραστικό χώρο παλιομοδίτικης αισθητικής και λειτουργίας. Το Μουσείο Σαμιακού
        Οίνου, που εγκαινιάστηκε το καλοκαίρι του 2005, είναι ένας «ζωντανός» χώρος εικονικής ιστορικής
        πραγματικότητας
        για το σαμιακό κρασί και την Ένωση Ονοποιητικών Συνεταιρισμών Σάμου.
        <br><br>
        Αρχικά ιδιωτικό οινοποιείο και αργότερα αποθήκη και βαρελοποιείο της Ένωσης, το κτήριο του μουσείου αποτελεί
        «ζωντανό» έκθεμα, όντας «μπολιασμένο» με το σαμιακό Μοσχάτο και τα κρασιά του. Ακόμα και οι μεγάλες ξύλινες
        δεξαμενές, εκθέματα σήμερα του μουσείου, ήταν κάποτε χρηστικές.
        <br><br>
        Η διαρρύθμισή του, αποτέλεσμα σύγχρονης μουσειακής επιστήμης, ταξιδεύει γλαφυρά στο χρόνο, κερδίζοντας, αλλά
        αφήνοντας ξεκούραστο τον επισκέπτη. Η παραδοσιακή οινοποίηση, τα εργαλεία, οι δεξαμενές της και τα όργανα
        χημείου, αλλά και η κατασκευή βαρελιών, ζωντανεύουν, μέσω εκθεμάτων που φτάνουν σε βάθος χρόνου τον αιώνα.
        Έγγραφα, βραβεία, φιάλες οίνου, φωτογραφίες και αντικείμενα γραφείου συμπληρώνουν το ιστορικό παζλ. Κορυφαίας
        έμπνευσης είναι η αναπαράσταση της καλλιέργειας των αμπελιών σε πεζούλες (όπως συνηθίζεται στο νησί), που
        απεικονίζει πως φυτρώνει και αναπτύσσεται το αμπέλι μέχρι την στιγμή του τρύγου. Δεν λείπουν και οι κάβες, μια
        βαρελιών και μία φιαλών και μάλιστα εν χρήσει, προσθέτοντας ακόμα μεγαλύτερη ζωντάνια στο χώρο, συνδέοντάς τον
        με το παρόν.
        <br><br>
        Στο Μουσείο Οίνου λειτουργεί εξοπλισμένος συνεδριακός χώρος, για χρήση από την Ένωση Ονοποιητικών
        Συνεταιρισμών
        Σάμου ή άλλους φορείς.
        Χορτασμένος από ιστορία, αλλά «διψασμένος» για κρασί ο επισκέπτης, μπορεί, τέλος, να δοκιμάσει ή και να
        αγοράσει
        τα κρασιά της ΕΟΣΣ, στο ειδικό κατάστημα του Μουσείου.
      </p>
    </div>
  </div>
</div>
