<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="assets/images/awards_bg.jpg"></div>
</div>
<div class="container">
  <div class="card-panel">
    <p class="flow-text">Τα κρασιά της Ένωσης Ονοποιητικών Συνεταιρισμών Σάμου διακρίνονται, για την ποιότητα και τη
      μοναδικότητά τους, απο την αρχαιότητα έως σήμερα. Δεν είναι τυχαίο που έχουν βραβευθεί επανειλημένως σε έγκριτους
      διεθνείς διαγωνισμούς και συνεχίζουν
      ακάθεκτα.
    </p>
    <p class="flow-text">Διατηρούν, όμως, μια διακριτή θέση και στη συνείδηση και στην καρδιά τόσο των Ελλήνων
      καταναλωτών, όσο και οινόφιλων άλλων χωρών. Το γλυκό σαμιακό κρασί συγκαταλέγεται στα κορυφαία του είδους του,
      παγκοσμίως, ενώ, ανάμεσα στις πολλές διακρίσεις
      του, διατηρεί το προνόμιο να είναι το κρασί που χρησιμοποιείται στη Θεία Ευχαριστία της Ρωμαιοκαθολικής
      Εκκλησίας.</p>
  </div>
  <img class="responsive-img" src="assets/images/awards.gif">
  <blockquote>Επιλέξτε για να δείτε τα βραβεία κατά έτος.</blockquote>
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><span class="new badge yellow-text">12 Gold and 3 Trophy</span><i
        class="material-icons">whatshot</i>Awards 2013
      </div>
      <div class="collapsible-body">
        <h5 class="center">Challenge International du Vin, France</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Doux 750 ml</td>
            <td>2011</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar 750 ml</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Anthemis 750 ml</td>
            <td>2006</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">China Wine Awards, China</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Doux 750 ml</td>
            <td>2012</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Grand Cru 750 ml</td>
            <td>2012</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Nectar 750 ml</td>
            <td>2009</td>
            <td>Double Gold - Trophy</td>
          </tr>
          <tr>
            <td>Samos Anthemis 750 ml</td>
            <td>2007</td>
            <td>Double Gold</td>
          </tr>
          <tr>
            <td>Ψηλές Κορφές/Psiles Korfes</td>
            <td>2012</td>
            <td>Double Gold</td>
          </tr>
          <tr>
            <td>Golden Samena 750 ml</td>
            <td>2012</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Διαγωνισμός Οίνου Θεσσαλονίκης</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Doux 750 ml</td>
            <td>2012</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Grand Cru 500 ml</td>
            <td>2012</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar 500 ml</td>
            <td>2009</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Decanter, United Kingdom</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Doux 750 ml</td>
            <td>2012</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Grand Cru 750 ml</td>
            <td>2012</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar 750 ml</td>
            <td>2009</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Anthemis 750 ml</td>
            <td>2007</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Ψηλές Κορφές/Psiles Korfes</td>
            <td>2012</td>
            <td>Commended</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Women Wines of the World, Monaco</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Grand Cru 750 ml</td>
            <td>2012</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar 750 ml</td>
            <td>2009</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Anthemis 750 ml</td>
            <td>2007</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Ψηλές Κορφές/Psiles Korfes</td>
            <td>2012</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Berliner Wein Trophy, Germany</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Nectar</td>
            <td>2007</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2011</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Concours Mondial de Bruxelles, Belgium</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Doux 750 ml</td>
            <td>2012</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Nectar 750 ml</td>
            <td>2009</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge yellow-text">7 Gold</span><i class="material-icons">whatshot</i>Awards
        2012
      </div>
      <div class="collapsible-body">
        <h5 class="center">International Competition of Thessaloniki, Greece</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis 500 ml</td>
            <td>2006</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar 500 ml</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Vinalies Internationales, Paris</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Nectar</td>
            <td>2007</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2010</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Anthemis</td>
            <td>2005</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Concours Mondial de Bruxelles, Belgium</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Nectar</td>
            <td>2008</td>
            <td>Grand Gold</td>
          </tr>
          <tr>
            <td>Ψηλές Κορφές/Psiles Korfes/High Peaks</td>
            <td>2011</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Decanter 2011, United Kingdom</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Vin Doux</td>
            <td>2011</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Anthemis</td>
            <td>2006</td>
            <td>Commended</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2011</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2008</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">International Wine and Spirits Competition, United Kingdom</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Vin Doux</td>
            <td>2011</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Anthemis</td>
            <td>2006</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2008</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2011</td>
            <td>Bronze</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">International Wine Challenge, United Kingdom</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Vin Doux</td>
            <td>2011</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Anthemis</td>
            <td>2006</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2011</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Ψηλές Κορφές/Psiles Korfes/High Peaks</td>
            <td>2011</td>
            <td>Commended</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Selections Mondiales des Vins, Canada</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Vin Doux</td>
            <td>2011</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge yellow-text">3 Gold and 1 Diamond</span><i
        class="material-icons">whatshot</i>Awards 2011
      </div>
      <div class="collapsible-body">
        <h5 class="center">International Competition of Thessaloniki, Greece</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="143"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Nectar 500 ml</td>
            <td>2007</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Vin Doux 500 ml</td>
            <td>2010</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Vinalies International, Paris</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Nectar</td>
            <td>2006</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2009</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Concours Mondial de Bruxelles, Belgium</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis</td>
            <td>2005</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2007</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Women and Wines of the World</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis</td>
            <td>2005</td>
            <td>Diamond</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2007</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Decanter 2011, United Kingdom</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis</td>
            <td>2005</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2010</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2007</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2010</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Psiles Korfes</td>
            <td>2010</td>
            <td>Commended</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">International Wine and Spirits Competition, United Kingdom</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis</td>
            <td>2005</td>
            <td>Silver Best-in-Class</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2010</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2007</td>
            <td>Silver Best-in-Class</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2010</td>
            <td>Bronze</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Challenge International du Vin, France</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis</td>
            <td>2005</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2010</td>
            <td>Bronze</td>
          </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge yellow-text">8 Gold</span><i class="material-icons">whatshot</i>Awards
        2010
      </div>
      <div class="collapsible-body">
        <h5 class="center">International Competition of Thessaloniki, Greece</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Nectar</td>
            <td>2006</td>
            <td>Grand Gold</td>
          </tr>

          <tr>
            <td>Samos Anthemis</td>
            <td>2004</td>
            <td>Gold</td>
          </tr>

          <tr>
            <td>Samos Vin Doux</td>
            <td>2009</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Vinalies International, Paris</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis</td>
            <td>2003</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2005</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Psiles Korfes</td>
            <td>2009</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Concours Mondial de Bruxelles, Belgium</h5>
        <table class="responsive-table centered">
          <colgroup>
            <col width="131"/>
            <col width="132"/>
            <col width="132"/>
          </colgroup>
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Vin Doux</td>
            <td>2009</td>
            <td>Gold Medal</td>
          </tr>

          <tr>
            <td>Samos Anthemis</td>
            <td>2004</td>
            <td>Silver Medal</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2006</td>
            <td>Silver Medal</td>
          </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="new badge yellow-text">6 Gold and 2 Trophy</span><i
        class="material-icons">whatshot</i>Awards 2009
      </div>
      <div class="collapsible-body">
        <h5 class="center">International Competition of Thessaloniki, Greece</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>Samos Anthemis</td>
            <td>2003</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2005</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Decanter World Wine Awards 2009, United Kingdom</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Samos Anthemis</td>
            <td>2002</td>
            <td>Trophy</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2008</td>
            <td>Trophy</td>
          </tr>
          <tr>
            <td>Golden Samena</td>
            <td>2008</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2005</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2008</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Ageri tou Aigaiou</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Psiles Korfes</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Decanter Greek White Tasting, United Kingdom</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Psiles Korfes</td>
            <td>2008</td>
            <td>4 Stars – highly recommended</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">International Wine Spirit Competition, United Kingdom</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Samos Anthemis</td>
            <td>2002</td>
            <td>Silver Best-in-class</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2005</td>
            <td>Silver Best-in-class</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Ageri tou Aigaiou</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Psiles Korfes</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">International Wine Challenge, United Kingdom</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Samos Anthemis</td>
            <td>2002</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Samos Vin Doux</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Psiles Korfes</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Samos Grand Cru</td>
            <td>2008</td>
            <td>Commended</td>
          </tr>
          <tr>
            <td>Samos Nectar</td>
            <td>2005</td>
            <td>Commended</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Concours Mondial de Bruxelles, Belgium</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Samos Anthemis</td>
            <td>2003</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Ageri tou Aigaiou</td>
            <td>2008</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Challenge International du vin, France</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Ageri tou Aigaiou</td>
            <td>2008</td>
            <td>Bronze</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">Selections Mondiales des Vins, Canada</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Samos Anthemis</td>
            <td>2003</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Ageri tou Aigaiou</td>
            <td>2008</td>
            <td>Silver</td>
          </tr>
          </tbody>
        </table>
        <h5 class="center">4th Tasting of Organic-Farming grapes by DIO</h5>
        <table class="responsive-table centered">
          <thead>
          <tr>
            <th data-field="id">Wine</th>
            <th data-field="name">Vintage</th>
            <th data-field="price">Awards</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Samos Phyllas</td>
            <td>2006</td>
            <td>Gold</td>
          </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
