<div id="union" class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="assets/images/wines_blue.jpg"></div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br><br><br><br>
      <h1 class="header center white-text">ΕΟΣ Σάμου</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">Ένωση Οινοπαραγωγικών Συνεταιρισμών Σάμου</h5>
      </div>
      <!--<div class="row center">
        <a href="#" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>-->
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Παγκοσμίως γνωστή</h5>
          <p class="light">Η Σάμος, είναι παγκοσμίως γνωστή για την απαράμιλλη ομορφιά της, την ιστορία της και το Λευκό
            Μικρόρωγο Μοσχάτο της -την περίφημη ποικιλία από την οποία αποκλειστικά, παράγονται τα κρασιά του νησιού,
            που έχουν διακριθεί σε όλον τον κόσμο!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Ποικιλία</h5>

          <p class="light">Η μοναδική στον κόσμο ποικιλία του Λευκού Μικρόρωγου Μοσχάτου της Σάμου, καλλιεργείται στις
            πλαγιές των απότομων βουνοπλαγιών της Σάμου, σε παραδοσιακές αναβαθμίδες (πεζούλες) και μεγάλο υψόμετρο όπου
            η απαιτητική μέθοδος καλλιέργειάς της, συνδυάζεται με τα μοναδικά χαρακτηριστικά που της προσδίδει το
            terroir της περιοχής και οι Αιγαιοπελαγίτικοι αέρηδες. Ο "αντιφατικός" συνδυασμός προστασίας και έκθεσης που
            προσφέρουν τα ψηλά βουνά, με το μεγάλο υψόμετρο και την εκτεθειμένη πλαγιά, αφήνουν τα αμπέλια να δέχονται
            τους δροσερούς θαλασσινούς ανέμους στις καλοκαιρινές ζέστες, ενώ ταυτόχρονα τα προστατεύουν από τους θερμούς
            και υγρούς ανέμους του Νοτιά.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Αρώματα - πολυπλοκότητα γεύσεων</h5>

          <p class="light">Στο κάθε κρασί, συναντώνται σύνθετα αρώματα και πολυπλοκότητα γεύσεων που μαζί, δημιουργούν
            ένα εκρηκτικό αποτέλεσμα με κυρίαρχα αρώματα το φρέσκο σταφύλι, τα άνθη της πορτοκαλιάς και τα
            ροδοπέταλα!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/pQe3bzG6itI?rel=0&autoplay=1" frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br><br>

  <div class="section">

  </div>
</div>
